/ERP/ERP-ejb/build/
/ERP/ERP-ejb/dist/
/ERP/build/
/ERP/ERP-war/build/
/ERP/ERP-war/dist/
/ERP/dist/
/build
.pdb
/ERP/nbproject/private/
/ERP/ERP-war/nbproject/private/
/ERP/ERP-ejb/nbproject/private/