
.error_header {
    position: relative;
    background-color: #5584a2;
    height: 26px;
    left: 0px;
    top: 72px;
    position: absolute;
    width: 100%;
}
.error_body {
    position: relative;
    height: 300px;
    left: 20px;
    top: 96px;
    position: absolute;
    width: 98%;
    overflow:auto;
}
.error_footer {
    background-color: rgb(85, 132, 162);
    height: 22px;
    left: 0px;
    top: 395px;
    position: absolute;
    width: 100%;
}
.a_back_home {
    text-decoration:none;
    height: 22px; 
    left: 24px; 
    position: absolute;
    width: 165px;
    color:white;
}


